<h1> Game Discovery.com </h1>

<p> To see a game review enter your game title after this URL:</p>
  <p> localhost:3000/api/v1/20reviews/ </p>

  <p> To see a game stream enter your game title after this URL:</p>
  <p> localhost:3000/gamediscovery/v1/streams/ </p>
