<!DOCTYPE HTML>
<html>
  <head>
    <h1>
      Game Discovery.com
    </h1>

  </head>

<body>
  <!-- <ul>
     <li>To search for a movie and see its rating, add <b>'search?movie_name=<i>your_movie-name</i></b>' to the end of the above url.</li>
   </ul> -->
<p> <h3>If you would like to see a review and url's of players streaming their play, then please enter your game title in the two spots denoted in the following URL: </h3></p>
  <p> localhost:3000/gamediscovery/v1/list/<i>game title</i>/<i>game title</i>.json</p>


  <!-- <form action="http://localhost:3000/inquiry/v1/list/" method="post" target="_blank">
  game: <input type="text" game="fname"><br>
  <input type="submit" value="Submit">
</form> -->



</html>



<!-- <form>
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
</form>

<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of a text input field is 20 characters.</p> -->

<!-- <!DOCTYPE html>
<html>
<body>

<form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "action_page.php".</p>

</body> -->
<!-- </html> -->
